
.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}
.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}
.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}
.tim-row {
  padding-top: 60px;
}
.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}
.sidebar .nav > li.active-pro {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.sidebar .nav > li.active-pro a {
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #ffffff;
}
.date-picker{
  border: 3px solid #080B0F;
  border-radius: 4px;
  min-height: 40px;
  min-width: 190px;
}
#Label{
  color:#080B0F
}
.form-control, .rdl-filter, .dual-listbox .dual-listbox__search, div.dataTables_wrapper div.dataTables_filter input {color: #080B0F;border: 1px solid #080B0F;}
.dashboard-container {
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  grid-gap: 20px;
}

.record-card {
  background-color: #37393C;
  color:#fff;
  font-weight: bold;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 200px; /* Adjust height for 2x4 aspect ratio */
  width: 100%;   /* Width will automatically adjust based on the grid */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.card-content, .card-footer {
  text-align: left; /* Align text to the left */
}

.card-footer {
  display: flex; /* Use flexbox for better alignment */
  justify-content: space-between; /* Space out items */
}


.record-card p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row for smaller screens */
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr; /* 1 card per row for mobile screens */
  }
}

