:root {
    --primary-bg-color: #0f1214; /* Background color for main sections */
    --secondary-bg-color: #272b30; /* Column background color */
    --hover-bg-color: #3a3f43; /* Hover effect for columns */
    --task-card-bg: #2c3e50; /* Task card background color */
    --hover-task-card-bg: #34495e; /* Hover effect for task cards */
    --history-entry-bg: #3b3f45; /* Background for history entries */
    --text-color: #ffffff; /* Default text color */
    --subtext-color: #82878a; /* Secondary text color */
    --divider-color: rgba(255, 255, 255, 0.1); /* Divider color */
    --button-bg-color: #2c3e50; /* Button background color */
    --button-hover-color: #82878a; /* Button hover color */
    --transition-time: 0.3s; /* Transition timing */
}

/* Container for the task management layout */
.task-management-container {
    margin-top: 60px;
    min-height: 100vh;
    background: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
}

/* Custom Scrollbar Styling for Webkit Browsers (Chrome, Safari, Edge) */
.task-management-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.task-management-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Track color */
    border-radius: 10px; /* Rounded corners */
}

.task-management-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); /* Thumb color */
    border-radius: 10px; /* Rounded corners */
    transition: background 0.3s; /* Transition effect */
}

.task-management-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8); /* Thumb color on hover */
}

/* Custom Scrollbar Styling for Firefox */
.task-management-container {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1); /* Thumb color and track color */
}

/* Flex container for columns */
.columns-container {
    display: flex;
    justify-content: flex-start; /* Align columns to start */
    gap: 10px;
    width: 100%;
    overflow-x: auto; 
    padding: 20px;
}

/* Individual column styling */
.column {
    background: var(--secondary-bg-color);
    padding: 5px;
    border-radius: 8px;
    width: 200px; /* Increased width for better visibility */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: background-color var(--transition-time); /* Transition for hover effect */
}

/* Hover effect for columns */
.column:hover {
    background: var(--hover-bg-color); /* Darker shade on hover */
}

/* Title for each column */
.column-title {
    color: var(--text-color);
    margin-bottom: 16px;
    text-align: center;
    font-weight: bold; /* Bold font for titles */
    min-width: 200px;
    font-size: 14px;
    border-bottom: 1px solid var(--divider-color);
    padding-bottom: 10px;
}

/* Task card styling */
.task-card {
    min-width: 160px;
    min-height: 200px; /* Adjust height if needed */
    padding: 12px;
    padding-top: 10px;
    margin-bottom: 8px;
    background-color: var(--task-card-bg);
    color: var(--text-color);
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
    cursor: pointer;
    transition: background-color var(--transition-time), transform var(--transition-time);
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

/* Add hover effect for task cards */
.task-card:hover {
    background-color: var(--hover-task-card-bg);
    transform: translateY(-2px); 
}

.employee-id {
    border-bottom: 1px solid var(--subtext-color);
    padding-bottom: 4px;
    font-size: 12px;
    margin-bottom: 3px;
}

.task-title {
    font-size: 14px;
}

.task-description {
    align-items: justify;
    font-size: 12px;
}

.task-footer {
    margin-top: auto;    /* Push the footer (created_at) to the bottom */
    margin-bottom: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}

/* Handle responsive behavior on smaller screens */
@media (max-width: 768px) {
    .columns-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .column {
        margin-bottom: 16px;
        width: calc(100% - 32px); /* Full width minus margin */
    }
}

/* Modal Styles */
.modal {
    display: flex;
    flex-direction: column;
    background-color: transparent; /* Modal background color */
    border-radius: 8px;
    padding: 0px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal-title {
    color: var(--text-color); /* Title color */
}

.modal-body {
    margin: 20px 0;
    color: var(--subtext-color); /* Body text color */
    background-color: var(--primary-bg-color);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.footer-button {
    background-color: var(--button-bg-color); /* Button background color */
    color: var(--text-color); /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.footer-button:hover {
    background-color: var(--button-hover-color); /* Button hover color */
}

.MuiDialog-paperWidthSm {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--subtext-color);
}

/* Dialog content general styling */
.dialog-container {
    color: var(--text-color);
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
.dialog-container h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--subtext-color);
}
  
/* Tabs styling */
.MuiTabs-root {
    background-color: #333;
    border-bottom: 1px solid #555;
}
  
.MuiTab-root {
    color: #aaa;
}
  
.Mui-selected {
    color: var(--text-color) !important;
}
  
.MuiTabs-indicator {
    background-color: #ff4081;
}
  
/* Badge styling */
.badge-container {
    display: flex;
    align-items: center;
}
  
.MuiBadge-badge {
    background-color: #ff4081;
    color: var(--text-color);
    font-size: 0.75rem;
}
  
/* Comments section */
.comment-container {
    max-height: 200px;
    overflow-y: auto;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
.comment-container p {
    padding: 8px;
    background-color: #2a2a2a;
    border-radius: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
  
/* Comment input box */
.comment-input {
    margin-top: 10px;
}
  
.comment-input .MuiOutlinedInput-root {
    background-color: black;
    border-radius: 5px;
}
.history-container {
    padding: 20px;
    background-color: #272b30; /* Dark background for the container */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.history-entry {
    padding: 15px; /* Slightly increased padding */
    margin: 10px 0;
    background-color: #2c3e50; /* Darker background for entries */
    color: #ffffff; /* White text for better contrast */
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.history-entry:hover {
    transform: scale(1.03); /* Slightly larger on hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.avatar {
    background-color: #007acc; /* Bright color for avatar */
    color: #ffffff; /* White text in avatar */
    font-weight: bold; /* Bold text for initials */
}

.no-data-text {
    color: #ffffff; /* White text for no data message */
    text-align: center;
    font-weight: bold;
}

.divider {
    background-color: #444; /* Darker divider color */
}

li {
    list-style-type: none; /* Remove bullet points */
  
}

